APP_ENV=development
DATABASE_URL=sqlite+aiosqlite:///./dev.db
# MySQL example:
# DATABASE_URL=mysql+asyncmy://user:password@localhost:3306/waiot
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60
DB_ECHO=false
AUTO_CREATE_DB=true

# Base de datos mapa
POSTGRES_DB=waiot_map
POSTGRES_USER=waiot
POSTGRES_PASSWORD=waiot_pass
POSTGRES_PORT=5432
MAP_DATABASE_URL=postgresql+asyncpg://waiot:waiot_pass@postgis:5432/waiot_map
