APP_ENV=development
DATABASE_URL=sqlite+aiosqlite:///./dev.db
# MySQL example:
# DATABASE_URL=mysql+asyncmy://user:password@localhost:3306/waiot
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60
DB_ECHO=false
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=0
MAP_DB_POOL_SIZE=5
MAP_DB_MAX_OVERFLOW=0
AUTO_CREATE_DB=true
AUTO_CREATE_MAP_DB=false
CORS_ALLOWED_ORIGINS=*

# Base de datos mapa
ENABLE_MAP_DB=false
SIMULATOR_BACKEND_URL=http://api:8000
SIMULATOR_POLL_SECONDS=2
SIMULATOR_BATCH_SIZE=30000
POSTGRES_DB=waiot_map
POSTGRES_USER=waiot
POSTGRES_PASSWORD=waiot_pass
POSTGRES_PORT=5432
MAP_DATABASE_URL=postgresql+asyncpg://waiot:waiot_pass@postgis:5432/waiot_map
